<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./test/bootstrap.php" backupGlobals="false" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false" processIsolation="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <php>
    <ini name="memory_limit" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="PhpCloud.org Meta">
      <directory>./test/src</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="./test/log/junit.xml"/>
  </logging>
  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
